<script type='text/template' id='src-messages'>

<form class="form-horizontal">
<fieldset>

<legend>Messages</legend>
<br>

<% if (logged_in) {
    var mk_href = function (usr) { return '<a href="#about_' + usr + '">' + usr + "</a>"; };
    messages.map(function (message) { %>

    <div class="row">
        <% var p_type = "success";
           if (message.from_me == "1") {
               p_type = "info"; %>
               <div class="col-md-3"></div>
        <% } %>
        <div class="col-md-9">
            <div class="<%= 'panel panel-' + p_type %>">
                <div class="panel-heading">
                    <span class="panel-title"><b>
                        <%= (message.from_me == "1" ? "" : "From:&nbsp;" + mk_href(message.from) + ";&nbsp;")
                            + "To:&nbsp;" + mk_href(message.to) %>
                    </b></span>
                    <span class="pull-right">Date: <%= message.time %></span>
                </div>
                <div class="panel-body"><%= message.msg %></div>
            </div>
        </div>
    </div>
<% }); %>
        <div class="alert alert-warning" id="sendmsg-error_message" style="display: none;">
            <strong>Error!</strong> Incorrect login or password given.
        </div>
        <div class="input-group">
            <span class="input-group-btn" style="width: 100px">
                <select class="form-control users-select" id="sel-user">
                    <% if (!current_user) { %>
                        <option selected="true" style="display:none;">Select user</option>
                    <% } %>
                    <% users.map(function (user) { %>
                        <option <%= user == current_user ? 'selected="true"' : '' %>><%= user %></option>
                    <% }); %>
                </select>
            </span>
            <input type="text" class="form-control" id="edt-message">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="btn-send_message">Send</button>
            </span>
        </div>
<br><br>
<% } %>
</fieldset>
</form>

</script>
