<script type='text/template' id='src-user_info'>
<form class="form-horizontal">
<fieldset>

<legend>All users informaition</legend>
<%    var capitalise = function (string) { return string.charAt(0).toUpperCase() + string.slice(1); };
      if (data.data) { %>

        <div class="table-responsive">
          <table class="table table-striped">

        <% data.data.map(function (user) { %>

            <tr><td>Login:</td><td>
                <a href="#about_<%= user.username %>"><%= user.username %>
                    <% if (user.me) { %>&nbsp;<b>(Me)</b> <% } %> </a></td></tr>
            <% [ 'email', 'name', 'surname', 'lastname' ].forEach(function(field) {
                if (user[field]) { %>
                    <tr><td><%= capitalise(field) %>:</td><td><%= user[field] %></td></tr>
                <% }
            }); %>
            <tr><td></td><td></td></tr>

        <% }); %>

          </table>
        </div>

    <% } else { %>
        <div class="alert alert-danger" role="alert"> <strong>Error!</strong> <%= data.error ? data.error : "Unknown error" %> </div>
    <% } %>

<% if (logged_in) { %>
    <button type="button" class="btn btn-default btn-sm pull-right" id='btn_logout'>Logout</button><br>
<% } %>

<div class="pre-footer"></div>
</script>
