<script type='text/template' id='src-user_info'>
<form class="form-horizontal">
<fieldset>

<legend>All users informaition</legend>
<% if (logged_in) {
      if (data.data) { %>

        <div class="table-responsive">
          <table class="table table-striped">

        <% data.data.map(function (user) { %>

            <tr><td>Login:</td><td>
                <a href="#about_<%= user.username %>"><%= user.username %>
                    <% if (user.me) { %>&nbsp;<b>(Me)</b> <% } %> </a></td></tr>
            <tr><td>Email:</td><td><%= user.email %></td></tr>
            <tr><td>Name:</td><td><%= user.name %></td></tr>
            <tr><td>Surname:</td><td><%= user.surname %></td></tr>
            <tr><td>Lastname:</td><td><%= user.lastname %></td></tr>
            <tr><td></td><td></td></tr>

        <% }); %>

          </table>
        </div>

    <% } else { %>
        <div class="alert alert-danger" role="alert"> <strong>Error!</strong> <%= data.error ? data.error : "Unknown error" %> </div>
    <% } %>

    <button type="button" class="btn btn-default btn-sm pull-right" id='btn_logout'>Logout</button><br>
<% } else { %>

<h2>Need to <a href="#login">login</a></h2>

<% } %>

<div class="pre-footer"></div>
</script>
